@font-face {
    font-family: "EBGaramond";   /*Can be any text*/
    src: local("EBGaramond"),
      url("../Fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

.evil-image-button {
    color: white;
    position: relative;
    display: inline-block;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 25px;
  }

  .evil-image-button:hover {
    background-image: url(../Images/EvilCircleSelected.png);
  }

  .evil-selected {
    background-image: url(../Images/EvilCircleSelected.png);
  }

  .evil-not-selected {
    background-image: url(../Images/EvilCircleUnselected.png);
  }
  
  .evil-button-text {
    color: white;
    font-family: "EBGaramond";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensures the text does not interfere with button clicks */
    width: 75%;
  }

  .evil-stagger {
    /*Staggers the bubbles so they look more like they're floating*/
    margin-top: random(2px, 8px);
  }
