@font-face {
  font-family: "MedievalSharp";   /*Can be any text*/
  src: local("MedievalSharp"),
    url("../Fonts/MedievalSharp-Regular.ttf") format("truetype");
}

body

.scene-title-text {
  font: 36px "MedievalSharp";
}

.evil {
  color: #be383a;
}

.not-evil {
  color: #070939;
}

.image-overlay {
  padding-top: 2rem;
  width: 90%;
}

.overlay-text {
  position: absolute;
  top: 25px;
  left: 50px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  width: 80%;
}

.center-choicediv {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
  